:root {
    --background-color: #0e1113;
    --foucs-color: #2a3236;
    --hover-color: #181c1f;
    --main-color: #ff4500;
    --main-font: "Alegreya Sans", serif;
}

body {
    margin: 0;
    font-family: var(--main-font);
    background-color: #f4f4f9;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 2.5rem;
    color: var(--foucs-color);
    text-align: center;
    margin-top: 70px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.card .img-movies{
    width: 100% ;
    height: 400px;
}
.card .img-gaming{
    width: 100%;
    height: 400px;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 15px;
}

.card .btn {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer ul li a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #007bff;
}

.footer p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ccc;
}