
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "poppins",sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(47, 119, 192);
}
.login{
    width: 420px;
    background: purple;
    color: rgb(2, 57, 105);

}
.login h1{
    font-size: 36px;
    text-align: center;

}
.login .input-box{
    position: relative;
    width:100% ;
    height: 50px;
    margin: 30px 0;

}
.input-box input{
    width: 100%;
    height: 100%;
    background:rgb(27, 27, 45);
    border: none;
    outline: none;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}
.input-box input: :placeholder{
    color:#fff;
}
.input-box i{
    position: absolute;

    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.login .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;

}
.remember-forget a {
    color: #fff;
    text-decoration: non;
 }
.remember-forget a:hover{
    text-decoration: underline;
}
.login .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;


}