:root {
    --background-color: #0e1113;
    --foucs-color: #2a3236;
    --hover-color: #181c1f;
    --main-color: #ff4500;
    --main-font: "Alegreya Sans", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
}

body ul,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

nav {
    background-color: var(--background-color);
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    border-bottom: 2px solid var(--foucs-color);
    position: fixed;
    z-index: 1;
}

nav .web-logo i {
    color: var(--main-color);
    font-size: 40px;
    margin-right: 5px;
}

nav .web-logo a span {
    font-weight: 800;
}

nav .nav-ul li a {
    padding: 10px 15px;
    border-radius: 20px;
}

nav ul li .get {
    background-color: var(--foucs-color);
    transition: 0.3s;
}

nav ul li .get:hover {
    background-color: var(--hover-color);
}

nav ul li .log {
    background-color: var(--main-color);
    transition: 0.3s;
}

nav ul li .log:hover {
    background-color: #b23507;
}

@media (max-width: 635px) {
    nav .nav-ul li a {
        padding: 5px;
    }
}

@media (max-width: 540px) {
    nav .nav-ul li a {
        padding: px;
    }

    nav .form-control {
        width: 100px;
    }

    .sid-smal {
        width: 35px;
    }

    nav .web-logo i {
        font-size: 30px;
    }
}

@media (max-width: 1200px) {
    nav ul li .get {
        display: none;
    }
}

@media (max-width: 960px) {
    nav .web-logo a span {
        display: none;
    }
}

nav ul .points {
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

nav .form-control {
    background-color: var(--foucs-color);
    border-color: var(--foucs-color);
    border-radius: 20px;
    transition: 0.3s;
}

nav .form-control:hover {
    background-color: var(--hover-color);
}

nav .form-control:focus {
    background-color: var(--hover-color);
    color: white;
}

nav form {
    position: relative;
}

nav form i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

nav form:hover i {
    right: 30px;
}

nav .form-control::placeholder {
    color: white;
}

nav ul .points a span {
    font-weight: 800;
    letter-spacing: 1px;
}

nav ul .points:hover {
    background-color: var(--foucs-color);
}

nav .nav-ul .menu-box {
    width: 250px;
    height: 200px;
    position: absolute;
    top: -300px;
    right: 20px;
    background-color: var(--foucs-color);
    border-radius: 10px;
    font-size: 20px;
    padding: 0;
    transition: 0.6s;
    display: flex;
    z-index: -3;
    opacity: 0.0;
}

nav ul .points:hover .menu-box {
    opacity: 1;
    top: 100%;
}

nav ul .points .menu-box li a {
    transition: 0.3s;
}

nav ul .points .menu-box li a:hover {
    background-color: var(--hover-color);
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: transparent;
    color: white;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid var(--foucs-color);
    position: fixed;
}

.menu-item {
    padding: 10px;
    margin-bottom: 5px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
}

.menu-item:hover {
    background-color: var(--hover-color);
}

.content {
    padding: 20px;
}

.accordion .accordion-item {
    background-color: transparent;
    border: none;
}

.accordion .accordion-item .accordion-button {
    background-color: transparent;
    color: white;
    border: none;
}

.accordion .accordion-item .collapseOne {
    border-left: 2px solid var(--foucs-color);
}

.sidebar-content .content {
    z-index: -3;
    width: 100%;
    background-color: var(--hover-color);
    margin-left: 250px;
    height: 100%;
}

@media (min-width: 1200px) {
    .sid-smal {
        display: none;
    }
}

@media (max-width: 1200px) {
    .sidebar-content .sidebar {
        display: none;
    }

    .sidebar-content .content {
        width: 100%;
        margin-left: 0;
    }

}

.post-container {
    background-color: var(--background-color);
    width: 800px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    margin-top: 40px;

}

.post-container:hover {
    background-color: var(--foucs-color);
}

.post-header a {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 8px;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    color: white;
}

.post-image {
    width: 100%;
    height: 600px;
    border-radius: 6px;
    margin-bottom: 12px;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #bbb;
}

.action {
    cursor: pointer;
    background-color: var(--foucs-color);
    border-radius: 10px;
    padding: 5px;
    transition: color 0.2s;
}

.post-actions .action:hover {
    color: white;
    background-color: var(--hover-color);
}


/* Chat Toggle Button */
#chatToggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0079d3;
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 999;
    transition: background-color 0.3s;
}


#chatSidebar {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px;
    height: 550px;
    background-color: var(--foucs-color);
    color: #000;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: block;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
}
#chatHeader {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
#chatInputArea {
    display: flex;
    border-top: 1px solid #ccc;
    background-color: var(--foucs-color);
}