:root {
    --background-color: #0e1113;
    --foucs-color: #2a3236;
    --hover-color: #181c1f;
    --main-color: #ff4500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

body ul,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color);
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    border-bottom: 2px solid var(--foucs-color);
    position: relative;
}

nav .web-logo i {
    color: var(--main-color);
    font-size: 40px;
    margin-right: 5px;
}

nav .web-logo a span {
    font-weight: 800;
}

nav .nav-ul li a {
    padding: 10px 15px;
    border-radius: 20px;
}

nav ul li .get {
    background-color: var(--foucs-color);
    transition: 0.3s;
}

nav ul li .get:hover {
    background-color: var(--hover-color);
}

nav ul li .log {
    background-color: var(--main-color);
    transition: 0.3s;
}

nav ul li .log:hover {
    background-color: #b23507;
}
@media (max-width:635px){
    nav .nav-ul li a{
        padding: 5px;
    }
}
@media (max-width:540px){
    
    nav .form-control{
        width: 100px;
    }
}
@media (max-width: 1200px) {
    nav ul li .get {
        display: none;
    }
}

@media (max-width: 960px) {
    nav .web-logo a span {
        display: none;
    }
}

nav ul .points {
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

nav .form-control {
    background-color: var(--foucs-color);
    border-color: var(--foucs-color);
    border-radius: 20px;
    transition: 0.3s;
}

nav .form-control:hover {
    background-color: var(--hover-color);
}

nav .form-control:focus {
    background-color: var(--hover-color);
    color: white;
}

nav form {
    position: relative;
}

nav form i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

nav form:hover i {
    right: 30px;
}

nav .form-control::placeholder {
    color: white;
}

nav ul .points a span {
    font-weight: 800;
    letter-spacing: 1px;
}

nav ul .points:hover {
    background-color: var(--foucs-color);
}

nav .menu-box {
    width: 250px;
    height: 200px;
    position: absolute;
    top: -300px;
    right: 20px;
    background-color: var(--foucs-color);
    border-radius: 10px;
    font-size: 20px;
    padding: 0;
    transition: all 0.6s;
    display: flex;
    z-index: -2;
}

nav ul .points:hover .menu-box {
    top: 100%;
}

nav ul .points .menu-box li a {
    width: 100%;
    transition: 0.3s;
}

nav ul .points .menu-box li a:hover {
    background-color: var(--hover-color);
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: transparent;
    color: white;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid var(--foucs-color);
}

.menu-item {
    padding: 10px;
    margin-bottom: 5px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
}

.menu-item:hover {
    background-color: var(--hover-color);
}

.content {
    padding: 20px;
}
.sidebar .accordion .accordion-item{
    background-color: transparent;
    border: none;
}
.sidebar .accordion .accordion-item .accordion-button{
    background-color: transparent;
    color: white;
    border: none;
}
.sidebar .accordion .accordion-item .collapseOne{
    border-left: 2px solid var(--foucs-color);
    
}
@media (min-width:1200px){
    .sid-smal{
        display: none;
    }
}
@media (max-width:1200px){
    .sidebar-content .sidebar{
    display: none;
    }
}
